<div>
	<form role="form">
		<div class="form-group">
		 	<label>Email:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
		 	<label>Senha:</label>
		 	<input type="text" class="form-control">
		</div>
		<div class="form-group">
		 	<label>Nova Senha:</label>
		 	<input type="text" class="form-control">
		</div>
		<div class="form-group" >
	 		<label>Confirmar Nova Senha:</label>
			<input type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Trocar Senha</button>
	</form>
	<hr/>
	<h3>Preferências</h3>
	<form>
		<div class="checkbox">
		    <label>
		    	<input type="checkbox" ng-model="vm.email"> Receber notificações no e-mail:
		    </label>
	    </div>
	    <div class="checkbox">
		    <label>
		    	<input type="checkbox" ng-model="vm.teste"> Teste
		    </label>
	    </div>
	    <div class="checkbox">
		    <label>
		    	<input type="checkbox" ng-model="vm.test"> teste
		    </label>
	    </div>
		<button type="submit" ng-click="vm.aceitar()" class="btn btn-default">Submit</button>
	</form>
</div>