<h3>Cadastro de Serviço</h3>
<hr/>
<div>
    <form role="form">
        <div class="form-group">
            <label>Escala:</label>
            <ui-select ng-model="vm.escala" theme="bootstrap" on-select="vm.onEscalaChange($item, $model)">
                <ui-select-match placeholder="Escala ">{{$select.selected.nome}} </ui-select-match>
                <ui-select-choices repeat="escala in (vm.escalas| filter: $select.search)">
                    <span ng-bind-html="escala.nome"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label>Substituto:</label>
            <ui-select ng-model="vm.servico.usuario_escala" theme="bootstrap" ng-disabled="!vm.listUsuarioEscala">
                <ui-select-match placeholder="Usuário">{{$select.selected.usuario.nome_guerra}} </ui-select-match>
                <ui-select-choices repeat="usuario_escala in (vm.listUsuarioEscala| filter: $select.search)">
                    <span ng-bind-html="usuario_escala.usuario.nome_guerra"></span>
                    <small>
						{{usuario.posto}} {{usuario.especialidade}}
					</small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label>Data do Serviço:</label>
            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.servico.data" is-open="vm.popupDataServico" ng-click="vm.openDataServico()" close-text="Close" />
        </div>
        <div class="form-group">
            <label>Tipo:</label>
            <ui-select ng-model="vm.servico.tipo" theme="bootstrap">
                <ui-select-match placeholder="Selecione uma Escala...">{{$select.selected.nome}}</ui-select-match>
                <ui-select-choices repeat="tiposServico in (vm.tiposServico | filter: $select.search)">
                    <small ng-bind-html="tiposServico.nome"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <button type="submit" ng-click="vm.salvar()" class="btn btn-default">Salvar</button>
        <a class="btn btn-default" href="#/gerencia-servico" role="button">Voltar</a>
    </form>
</div>