<uib-alert ng-show="alert" type="{{cadastroAfastamentoCtrl.alert.type}}" close="closeAlert()">{{cadastroAfastamentoCtrl.alert.msg}}</uib-alert>
<h3>Cadastro de Afastamentos</h3>
<hr/>
<div >
	{{vm.status}}
	<a class="btn btn-default" href="#/cadastro-afastamento/new" role="button">Novo Afastamento</a>
	<table class="table table-hover">
	    <thead>
		    <tr>
		        <th data-field="name" data-sortable="true">Motivo</th>
				<th data-field="name" data-sortable="true">Data Início</th>
				<th data-field="name" data-sortable="true">Data Término</th>
		        <th data-field="operate">Editar</th>
		        <th data-field="operate">Remover</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr ng-repeat="afastamento in vm.afastamentos">
		    	<td>{{ afastamento.motivo }}</td>
		    	<td>{{ afastamento.data_inicio | date: 'dd/MM/yyyy' }}</td>
		    	<td>{{ afastamento.data_fim | date: 'dd/MM/yyyy' }}</td>
		    	<td><a class="edit ml10" href="#/cadastro-afastamento/{{afastamento.id}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a></td>
				<td><a class="remove ml10" ng-click="vm.deletar($index)" title="Remove"><i class="glyphicon glyphicon-remove text-danger"></i></a></td>
		    </tr>
	    </tbody>
	</table>
</div>
