<uib-alert ng-show="alert" type="{{cadastroAfastamentoCtrl.alert.type}}" close="closeAlert()">{{cadastroAfastamentoCtrl.alert.msg}}</uib-alert>
<h3>Cadastro de Afastamentos</h3>
<hr/>
<div>
	<form role="form">
		<div class="form-group">
		 	<label>Nome:</label>
			<label>{{vm.afastamento.usuario.nome_guerra}}</label>
		</div>
		<div class="form-group">
		 	<label>Motivo:</label>
			<input class="form-control" type="text" ng-model="vm.afastamento.motivo" name="motivo" ></input>
		</div>
		<div class="form-group" >
	 		<label>Data Início:</label>
			<input class="form-control" type="date" ng-model="vm.data_inicio" name="data_inicio" placeholder="dd/MM/yyyy" ></input>
		</div>
		<div class="form-group" >
	 		<label>Data Termino:</label>
			<input class="form-control" type="date" ng-model="vm.data_fim" name="data_fim" placeholder="dd/MM/yyyy"></input>
		</div>
		<div class="form-group">
		 	<label>Observações:</label>
			<textarea class="form-control" ng-model="vm.afastamento.observacao" name="motivo"></textarea>
		</div>
		<button type="submit" ng-click="vm.salvar()" class="btn btn-default">Submit</button>
		<a class="btn btn-default" href="#/cadastro-afastamento" role="button">Cancel</a>
	</form>
</div>