<a class="pull-right btn btn-default btn-success" href="#/cadastro-usuario/new" role="button">Novo Usuário</a>
<h3>Cadastro de Usuário</h3>
<hr/>
<alert></alert>
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th data-field="operate" class="col-md-1 text-center">Editar</th>
                <th data-field="operate" class="col-md-1 text-center">Remover</th>
                <th data-field="name" data-sortable="true" class="col-md-1">Posto/Graduação</th>
                <th data-field="email" data-sortable="true" class="col-md-1">Especialidade</th>
                <th data-field="name" data-sortable="true">Nome</th>
                <th data-field="email" data-sortable="true">Email</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="usuario in vm.usuarios">
                <td class="text-center">
                    <a class="edit ml10" href="#/cadastro-usuario/{{usuario.id}}" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td ng-show="usuario.ativo" class="text-center">
                    <a class="remove ml10" ng-click="vm.deletar($index)" title="Remover">
                        <i class="glyphicon glyphicon-remove text-danger"></i>
                    </a>
                </td>
                <td ng-show="!usuario.ativo" class="text-center">
                    <a class="remove ml10" ng-click="vm.deletar($index)" title="Ativar">
                        <i class="glyphicon glyphicon-ok text-success"></i>
                    </a>
                </td>
                <td>{{usuario.posto}}</td>
                <td>{{usuario.especialidade}}</td>
                <td>{{ usuario.nome_guerra }} </td>
                <td>{{ usuario.email }}</td>
            </tr>
        </tbody>
    </table>
</div>