<uib-alert ng-show="alert" type="{{trocaServicoCtrl.alert.type}}" close="closeAlert()">{{vm.alert.msg}}</uib-alert>
<h3>Troca de Servico</h3>
<hr/>
<div>
	<form role="form">
		<div class="form-group">
		 	<label>Substituído:</label>
			<label>{{ vm.trocaServico.substituido.nome_guerra}}</label>
		</div>
		<div class="form-group" >
	 		<label>Serviço:</label>
			<ui-select ng-model="vm.trocaServico.servico" theme="bootstrap">
                <ui-select-match placeholder="Selecione uma Escala...">{{$select.selected.data | date}}</ui-select-match>
                <ui-select-choices repeat="servico in (vm.servicos| filter: $select.search)">
                    <span ng-bind-html="servico.data | date"></span>
                    <small ng-bind-html="servico.escala.name"></small>
                </ui-select-choices>
            </ui-select>
		</div>
		<div class="form-group">
		 	<label>Motivo:</label>
			<input class="form-control" type="text" ng-model="vm.trocaServico.motivo" name="motivo" ></input>
		</div>
		<button type="submit" ng-click="vm.salvar()" class="btn btn-default">Submit</button>
		<a class="btn btn-default" href="#/cadastro-troca-servico" role="button">Cancel</a>
	</form>
</div>