<!-- HEADER -->
<div class="navbar navbar-default navbar-inverse navbar-static-top label-primary" role="navigation" >
		
		<div class="container-fluid"> 	
	
	 	<div class="navbar-header">
      	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      	    <span class="sr-only">Toggle navigation</span>
      	    <span class="icon-bar"></span>
      	    <span class="icon-bar"></span>
      	    <span class="icon-bar"></span>
      	  </button>
      	  <a class="navbar-brand" href="#">Escalante</a>
      	</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- HEADER-NOTIFICATIONS -->
				<li class="dropdown">
					<a class="dropdown-toggle text-white" data-toggle="dropdown">
						<div class="text-white">
							<span class="glyphicon glyphicon-envelope"></span> 
							Notifications
							<span class="caret"></span>
						</div>
					</a>
					<ul class="dropdown-menu dropdown-messages" role="menu">
			            <li>
			                <a href="#">
			                    <div>
			                        <strong>John Smith</strong><span class="pull-right text-muted"><em>Yesterday</em></span>
			                    </div>
			                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</p>
			                </a>
			            </li>
			            <li class="divider"></li>
			            <li>
			                <a class="text-center" href="#"><strong>Read All Messages</strong><i class="glyphicon glyphicon-menu-right"></i></a>
			            </li>
			        </ul>
				</li>
				<!-- HEADER-USER -->
				<li class="dropdown">
					<a class="dropdown-toggle text-white" data-toggle="dropdown">
						<div class="text-white">
							<span class="glyphicon glyphicon-user"></span> 
							{{usuario.email}}
							<span class="caret"></span>
						</div>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#/perfil-usuario"><i class="glyphicon glyphicon-cog"></i> Configurações</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" ng-click="vm.logout()"><i class="glyphicon glyphicon-off"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>