<h3>Cadastro de Serviço</h3>
<hr/>
<div>
	<form role="form">
		<div class="form-group">
		 	<label>Escala:</label>
			<p>{{vm.servico.escala.name}}</p>
		</div>
		<div class="form-group">
		 	<label>Data do Serviço:</label>
			<p>{{vm.servico.data | date: 'dd/MM/yyyy'}}</p>
		</div>
		<div class="form-group">
			<label>Militares:</label>
			<ui-select ng-model="vm.servico.usuario" theme="bootstrap">
				<ui-select-match placeholder="Militar">{{$select.selected.nome_guerra}} </ui-select-match>
                <ui-select-choices repeat="usuario in (vm.usuarios| filter: $select.search)">
                    <span ng-bind-html="usuario.nome_guerra"></span>
                    <small>
						{{usuario.posto}} {{usuario.especialidade}}
					</small>
                </ui-select-choices>
			</ui-select>
		</div>
		<button type="submit" ng-click="vm.salvar()" class="btn btn-default">Submit</button>
		<a class="btn btn-default" href="#/gerencia-servico" role="button">Cancel</a>
	</form>
</div>