<uib-alert ng-show="alert" type="{{vm.alert.type}}" close="closeAlert()">{{vm.alert.msg}}</uib-alert>
<h3>Servicos</h3>
<hr/>
<div>
	{{vm.status}}
	<table class="table table-hover">
	    <thead>
		    <tr>
				<th data-field="name" data-sortable="true">Usuário</th>
		        <th data-field="name" data-sortable="true">Data</th>
				<th data-field="name" data-sortable="true">Tipo</th>
		        <th data-field="operate">Solicitar Troca</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr ng-repeat="servico in vm.servicos">
				<td>{{ servico.usuario.nome_guerra }}</td>
		    	<td>{{ servico.data | date: 'dd/MM/yyyy' }}</td>
                <td>{{ vm.tipos[servico.tipo] }}</td>
		    	<td>
		    		<a class="edit ml10" ng-click="vm.solicitarTroca($index)" title="Edit">
		    			<i class="glyphicon glyphicon-pencil"></i>
		    		</a>
		    	</td>
		    </tr>
	    </tbody>
	</table>
  	<uib-pagination total-items="vm.servicos.meta.total" ng-model="vm.servicos.meta.page" ng-change="vm.pageChanged()"></uib-pagination>
</div>
