<uib-alert ng-show="alert" type="{{gerenciaAfastamentoCtrl.alert.type}}" close="closeAlert()">{{gerenciaAfastamentoCtrl.alert.msg}}</uib-alert>
<h3>Gerencia de Afastamentos</h3>
<hr/>
<div>
	<form role="form">
		<div class="form-group">
		 	<label>Nome:</label>
			<p>{{vm.afastamento.usuario.nome_guerra}}</p>
		</div>
		<div class="form-group">
		 	<label>Motivo:</label>
		 	<p>{{vm.afastamento.motivo}}</p>
		</div>
		<div class="form-group" >
	 		<label>Data Início:</label>
			<p>{{vm.afastamento.data_inicio | date}}</p>
		</div>
		<div class="form-group" >
	 		<label>Data Termino:</label>
			<p>{{vm.afastamento.data_fim | date}}</p>
		</div>
		<div class="form-group">
		 	<label>Observações:</label>
			<p>{{vm.afastamento.observacao}}</p>
		</div>
		<button type="submit" ng-click="vm.aceitar()" class="btn btn-default btn-success">Aceitar</button>
		<button type="submit" ng-click="vm.rejeitar()" class="btn btn-default btn-danger">Rejeitar</button>
		<a class="btn btn-default" href="#/gerencia-afastamento" role="button">Cancel</a>
	</form>
</div>