<uib-alert ng-show="alert" type="{{gerenciaAfastamentoCtrl.alert.type}}" close="closeAlert()">{{gerenciaAfastamentoCtrl.alert.msg}}</uib-alert>
<h3>Gerência de Afastamentos</h3>
<hr/>
<div >
	{{gerenciaAfastamentoCtrl.status}}
	<a class="btn btn-default" href="#/gerencia-afastamento/new" role="button">Novo Afastamento</a>
	<table class="table table-hover">
	    <thead>
		    <tr>
		        <th data-field="name" data-sortable="true">Motivo</th>
				<th data-field="name" data-sortable="true">Data Início</th>
				<th data-field="name" data-sortable="true">Data Término</th>
		        <th data-field="operate">Visualizar</th>
		        <th data-field="operate">Aceitar</th>
		        <th data-field="operate">Rejeitar</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr ng-repeat="afastamento in vm.afastamentos">
		    	<td>{{ afastamento.motivo }}</td>
		    	<td>{{ afastamento.data_inicio | date: 'dd/MM/yyyy' }}</td>
		    	<td>{{ afastamento.data_fim | date: 'dd/MM/yyyy' }}</td>
		    	<td><a class="edit ml10" href="#/gerencia-afastamento/{{afastamento.id}}" title="See"><i class="glyphicon glyphicon-eye-open"></i></a></td>
		    	<td><a class="edit ml10" href="#/cadastro-afastamento/{{afastamento.id}}" title="Accept"><i class="glyphicon glyphicon-ok text-success"></i></a></td>
				<td><a class="remove ml10" ng-click="vm.deletar($index)" title="Reject"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a></td>
		    </tr>
	    </tbody>
	</table>
</div>